<div class="header-container">
  <header>
    <ul class="nav">
        <li style="float: left;">
          {{ site.name }}
        </li>
        <li>fo
          <a href="/index.html">
            <span class="mega-octicon octicon-file-text"
                  style="margin-right: 6px;"></span>
            Blog</a>
        </li>
        <li>
          <a href="/playground.html">
            <span class="mega-octicon octicon-squirrel"
                  style="margin-right: 6px;"></span>
            Playground</a>
        </li>
        <li>
          <a href="/softwares.html">
            <span class="mega-octicon octicon-package"
                  style="margin-right: 6px;"></span>
            Software</a>
        </li>
        <li>
          <a href="/about.html">
            <span class="mega-octicon octicon-person"
                  style="margin-right: 6px;"></span>
            About</a>
        </li>
        <li>
          <a href="https://github.com/kumabook/">
            <span class="mega-octicon octicon-octoface"></span>
          </a>
        </li>
      </ul>
  </header>
</div>
