<div class="header-container">
  <header>
    <ul class="nav">
        <li class="nav-title" style="float: left;">
          <b>{{ site.name }}</b>
        </li>
        <li>
          <a href="/index.html">
            <span class="mega-octicon octicon-file-text"
                  style="margin-right: 6px;"></span>
            <span class="nav-label">Blog</span></a>
        </li>
        <li>
          <a href="/playground.html">
            <span class="mega-octicon octicon-squirrel"
                  style="margin-right: 6px;"></span>
            <span class="nav-label">Playground</span></a>
        </li>
        <li>
          <a href="/softwares.html">
            <span class="mega-octicon octicon-package"
                  style="margin-right: 6px;"></span>
            <span class="nav-label">Software</span></a>
        </li>
        <li>
          <a href="/about.html">
            <span class="mega-octicon octicon-person"
                  style="margin-right: 6px;"></span>
            <span class="nav-label">About</span></a>
        </li>
        <li>
          <a href="https://github.com/kumabook/">
            <span class="mega-octicon octicon-octoface"></span>
          </a>
        </li>
      </ul>
  </header>
</div>
